
Vivado/traffic_light/traffic_light.xpr
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xvlog.pb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xvlog.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.ini
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xsim.svtype
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/two_way_intersection.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/traffic_light_top.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsimSettings.ini
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsimkernel.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsimk.exe
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsimcrash.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.xdbg
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.type
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.svtype
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.rtti
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.rlx
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.reloc
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.mem
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/xsim.dbg
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/webtalk/xsim_webtalk.tcl
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/webtalk/usage_statistics_ext_xsim.xml
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/webtalk/usage_statistics_ext_xsim.wdm
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/webtalk/usage_statistics_ext_xsim.html
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/webtalk/.xsim_webtallk.info
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/TempBreakPointFile.txt
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/obj/xsim_1.win64.obj
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/obj/xsim_1.c
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/obj/xsim_0.win64.obj
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_top_behav/Compile_Options.txt
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xelab.pb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/webtalk_9428.backup.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/webtalk_9428.backup.jou
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/webtalk.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/webtalk.jou
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/traffic_light_top_vlog.prj
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/traffic_light_top_behav.wdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/traffic_light_top.tcl
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/simulate.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/simulate.bat
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/glbl.v
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/elaborate.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/elaborate.bat
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/compile.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/compile.bat
Vivado/traffic_light/traffic_light.runs/synth_1/vivado.pb
Vivado/traffic_light/traffic_light.runs/synth_1/vivado.jou
Vivado/traffic_light/traffic_light.runs/synth_1/traffic_light_top_utilization_synth.rpt
Vivado/traffic_light/traffic_light.runs/synth_1/traffic_light_top_utilization_synth.pb
Vivado/traffic_light/traffic_light.runs/synth_1/traffic_light_top.vds
Vivado/traffic_light/traffic_light.runs/synth_1/traffic_light_top.tcl
Vivado/traffic_light/traffic_light.runs/synth_1/traffic_light_top.dcp
Vivado/traffic_light/traffic_light.runs/synth_1/runme.sh
Vivado/traffic_light/traffic_light.runs/synth_1/runme.log
Vivado/traffic_light/traffic_light.runs/synth_1/runme.bat
Vivado/traffic_light/traffic_light.runs/synth_1/rundef.js
Vivado/traffic_light/traffic_light.runs/synth_1/ISEWrap.sh
Vivado/traffic_light/traffic_light.runs/synth_1/ISEWrap.js
Vivado/traffic_light/traffic_light.runs/synth_1/htr.txt
Vivado/traffic_light/traffic_light.runs/synth_1/gen_run.xml
Vivado/traffic_light/traffic_light.runs/synth_1/__synthesis_is_complete__
Vivado/traffic_light/traffic_light.runs/synth_1/.Xil/traffic_light_top_propImpl.xdc
Vivado/traffic_light/traffic_light.runs/synth_1/.Vivado_Synthesis.queue.rst
Vivado/traffic_light/traffic_light.runs/synth_1/.vivado.end.rst
Vivado/traffic_light/traffic_light.runs/synth_1/.vivado.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/write_bitstream.pb
Vivado/traffic_light/traffic_light.runs/impl_1/vivado_14988.backup.jou
Vivado/traffic_light/traffic_light.runs/impl_1/vivado_12572.backup.jou
Vivado/traffic_light/traffic_light.runs/impl_1/vivado_10692.backup.jou
Vivado/traffic_light/traffic_light.runs/impl_1/vivado_10512.backup.jou
Vivado/traffic_light/traffic_light.runs/impl_1/vivado.pb
Vivado/traffic_light/traffic_light.runs/impl_1/vivado.jou
Vivado/traffic_light/traffic_light.runs/impl_1/usage_statistics_webtalk.xml
Vivado/traffic_light/traffic_light.runs/impl_1/usage_statistics_webtalk.html
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_utilization_placed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_utilization_placed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_timing_summary_routed.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_timing_summary_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_timing_summary_routed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_routed.dcp
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_route_status.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_route_status.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_power_summary_routed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_power_routed.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_power_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_placed.dcp
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_opt.dcp
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_methodology_drc_routed.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_methodology_drc_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_methodology_drc_routed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_io_placed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_routed.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_routed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_opted.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_opted.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_drc_opted.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_control_sets_placed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_clock_utilization_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_bus_skew_routed.rpx
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_bus_skew_routed.rpt
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_bus_skew_routed.pb
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_14988.backup.vdi
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_12572.backup.vdi
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_10692.backup.vdi
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top_10512.backup.vdi
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top.vdi
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top.tcl
Vivado/traffic_light/traffic_light.runs/impl_1/traffic_light_top.bit
Vivado/traffic_light/traffic_light.runs/impl_1/runme.sh
Vivado/traffic_light/traffic_light.runs/impl_1/runme.log
Vivado/traffic_light/traffic_light.runs/impl_1/runme.bat
Vivado/traffic_light/traffic_light.runs/impl_1/rundef.js
Vivado/traffic_light/traffic_light.runs/impl_1/route_design.pb
Vivado/traffic_light/traffic_light.runs/impl_1/project.wdf
Vivado/traffic_light/traffic_light.runs/impl_1/place_design.pb
Vivado/traffic_light/traffic_light.runs/impl_1/opt_design.pb
Vivado/traffic_light/traffic_light.runs/impl_1/ISEWrap.sh
Vivado/traffic_light/traffic_light.runs/impl_1/ISEWrap.js
Vivado/traffic_light/traffic_light.runs/impl_1/init_design.pb
Vivado/traffic_light/traffic_light.runs/impl_1/htr.txt
Vivado/traffic_light/traffic_light.runs/impl_1/gen_run.xml
Vivado/traffic_light/traffic_light.runs/impl_1/.write_bitstream.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.write_bitstream.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.Vivado_Implementation.queue.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.vivado.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.vivado.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.route_design.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.route_design.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.place_design.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.place_design.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.opt_design.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.opt_design.begin.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.init_design.end.rst
Vivado/traffic_light/traffic_light.runs/impl_1/.init_design.begin.rst
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_9.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_8.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_7.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_6.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_53.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_52.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_51.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_50.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_5.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_49.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_48.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_47.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_46.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_45.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_44.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_43.xml
Vivado/traffic_light/vivado_pid2456.str
Vivado/traffic_light/vivado.log
Vivado/traffic_light/vivado.jou
Vivado/traffic_light/traffic_light.cache/wt/gui_handlers.wdf
Vivado/traffic_light/traffic_light.cache/wt/java_command_handlers.wdf
Vivado/traffic_light/traffic_light.cache/wt/project.wpc
*.wdf
Vivado/traffic_light/traffic_light.cache/wt/webtalk_pa.xml
Vivado/traffic_light/traffic_light.hw/hw_1/hw.xml
*.lpr
Vivado/traffic_light/traffic_light.ip_user_files/README.txt
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_1.xml
Vivado/traffic_light/traffic_light.runs/.jobs/vrs_config_10.xml
*.xml
*.vdi
*.jou
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/traffic_light_tb.tcl
*.wdb
*.prj
*.log
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/Compile_Options.txt
*.obj
*.c
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/TempBreakPointFile.txt
*.info
*.html
*.wdm
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/webtalk/xsim_webtalk.tcl
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.dbg
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.mem
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.reloc
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.rlx
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.rtti
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.svtype
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.type
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsim.xdbg
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsimk.exe
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/traffic_light_tb_behav/xsimSettings.ini
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/crosswalk.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/debounce.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/master_timer.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/traffic_light_tb.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/compile.bat
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/elaborate.bat
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/simulate.bat
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/traffic_light_tb.tcl
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/traffic_light_tb_func_synth.v
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xelab.pb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/Compile_Options.txt
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/TempBreakPointFile.txt
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/webtalk/xsim_webtalk.tcl
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.dbg
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.mem
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.reloc
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.rlx
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.rtti
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.svtype
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.type
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsim.xdbg
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/traffic_light_tb_func_synth/xsimk.exe
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/crosswalk.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/crosswalk_2.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/crosswalk_3.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/crosswalk_4.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/debounce.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/debounce_0.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/debounce_1.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/glbl.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/master_timer.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/traffic_light_tb.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/traffic_light_top.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/two_way_intersection.sdb
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.dir/xsim.svtype
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xsim.ini
Vivado/traffic_light/traffic_light.sim/sim_1/synth/func/xsim/xvlog.pb
